.bg-light-gray {
    background-color: lightgray;
}

#intro {
    height: 100vh;
}

.bg-light-info {
    background-color: #55acee;
}

#timetable_wrapper {
    position: absolute;
    right: 15%;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 900;
}

#timetable {
    overflow-y: hidden;
    transition: height 1s ease;
    background: #efefefe3;
    box-shadow: 10 10 10 gray;
}

#clock {
    cursor: pointer;
}

.system-logo-w {
    width: 210px;
}

@media (min-width: 768px) {
    .system-logo-w {
        width: 210px;
    }
}

@media (min-width: 800px) {
    .system-logo-w {
        width: 240px;
    }
}

@media (min-width: 960px) {
    .system-logo-w {
        width: 270px;
    }
}

@media (min-width: 1280px) {
    .system-logo-w {
        width: 300px;
    }
}

/* canvas */
canvas {
    background-color: transparent;
}

canvas[resize] {
    width: 100%;
}

/* Data Table */
table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

thead th {
    color: #fff;
}

.card {
    border-radius: .5rem;
}

.table-scroll {
    border-radius: .5rem;
}

.table-scroll table thead th {
    font-size: 1.25rem;
}

thead {
    top: 0;
    position: sticky;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}

/* Parallax */
.parallax-container {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Payment CSS */
.payment-container {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

form {
    width: 100%;
    align-self: center;
    border-radius: 7px;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.hidden {
    display: none;
}

#payment-message {
    color: rgb(105, 115, 134);
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
}

#payment-element {
    margin-bottom: 24px;
}

/* Buttons and links */
.payment-button {
    background: #0055DE;
    font-family: Arial, sans-serif;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
}

.payment-button:hover {
    filter: contrast(115%);
}

.payment-button:disabled {
    opacity: 0.5;
    cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
    border-radius: 50%;
}

.spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.spinner:before,
.spinner:after {
    position: absolute;
    content: "";
}

.spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #0055DE;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #0055DE;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
}

/* Payment status page */
#payment-status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    width: 30vw;
    min-width: 500px;
    min-height: 380px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
        0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
    opacity: 0;
    animation: fadeInAnimation 1s ease forwards;
}

#status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.payment-h2 {
    margin: 0;
    color: #30313D;
    text-align: center;
}

.payment-a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    display: block;
}

.payment-a:hover {
    filter: contrast(120%);
}

#details-table {
    overflow-x: auto;
    width: 100%;
}

.payment-table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}

.payment-table tbody tr:first-child td {
    border-top: 1px solid #E6E6E6;
    /* Top border */
    padding-top: 10px;
}

.payment-table tbody tr:last-child td {
    border-bottom: 1px solid #E6E6E6;
    /* Bottom border */
}

td {
    padding-bottom: 10px;
}

.TableContent {
    text-align: right;
    color: #6D6E78;
}

.TableLabel {
    font-weight: 600;
    color: #30313D;
}

#view-details {
    color: #0055DE;
}

#retry-button {
    text-align: center;
    background: #0055DE;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {

    form,
    #payment-status {
        width: 80vw;
        min-width: initial;
    }
}